$color-background-nav-footer: #c6c6c6;
$color-background-section-dark: #2a4858;
$color-background-section-light: #ffffff;

$color-button-on: #0d85a8;
$color-button-off: #8cdef6;

$color-light-text: #8cdef6;
$color-dark-text: darkblue;




